.img-size{
  object-fit: cover;
  width: 100%;
  height: 350px !important;
}
.img-hover{
  transition: transform .9s;
}
.img-hover:hover{
  transform: scale(1.10);
}
.login-w{
  width:37%;
}
.sign-main{
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
}
.sign-main input {
  border: 1px solid rgba(128, 128, 128, 0.682);
  border-radius: 9px;
  padding: 5px 0px;
}
.signin-bg{

 background-repeat: no-repeat;
 background-size: cover;
 background-position: right;

  background-image: url("https://img.freepik.com/free-vector/gradient-connection-background_23-2148876599.jpg?w=1380&t=st=1689843530~exp=1689844130~hmac=2f180e759fe4ebf520c42620348a52cbc4c6731ca7a2162cdccb4201408b80c3");
}
.height-sign{
  height: 100vh;
  /* height: calc(100vh - 0); */

}
.input-box{
  background-color: rgba(145, 186, 225, 0.92);
  box-shadow: 0px 0px 20px 5px rgb(128, 155, 205);
  border-radius: 20px;
  
}
.sign-titel{
/* padding-top: 150px; */

}

.iconposi{
  top: 55%;
  left: 93%;
  right: 0;

}
.create{
  transform: translate(751px,110px);
}
.modal{
  --bs-modal-width: 701px !important;

}
.h-100{
  height: 45vh !important;
}
.heigth-full{
  height: 100vh;
}




body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

    
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0 !important;
    padding: 0 !important;
}
p{
    margin: 0 !important;
}
.side{
  
    background-color: white;
   
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  input:checked  .main {
    background-color: #1e3649;
  }
  .conatin{
    padding: 41px;
  }
  .p_text-clr{
    color: #64748B;
    font-weight: 100;
  }
  .progress_line{
    height: 10px !important;
  }

  
.bodydark{
  background: rgb(15, 4, 76);
}
.menudark{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.textdark{
  color :" white"
}
.bgdark{
  background: linear-gradient(90deg, rgb(75, 108, 183) 0%, rgb(24, 40, 72) 100%);
  color: white;
}